<h1>About</h1>
<p>
	<%= link_to "onemonthrails", "http://onemonthrails.com" %>
	is a projeft to teach 
	<%= link_to "Ruby on Rails", "http://rubyontails.org" %>
	in one month. This is a sample application. 
</p>

